.about-container {
    align-items: center;
  }
  .about-img img{
      width: 100%;
  }

  .about-content {
    color: black;
    align-items: center;
    margin-top: 100px;
   
    margin-left: 25px;
  }
  .container-about {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .btn-our {
    border: 1px solid gray;
    padding: 6px 10px;
    background: transparent;
    border-radius: 5px;
  }
  .btn-our:hover {
    background-color: gray;
  
    color: white;
  }
  